{% extends 'template.html.twig' %}


{% block stylesheets %} 
 <link rel="stylesheet" type="text/css" href="{{ asset('templates/home.css') }}" />

{% endblock %}

{% block body %}

<div class="home">
    <div class="container">
        <div class="home__container">
            <div class="home__col col">
                <div class="home__desc">
                    <p>Poznaj Restaurate - jedz, oceniaj, poznawaj opinie innych!</p>
                </div>
                 <div class="home__buttons row">
                    <a class="home__square">
                    Dodaj restaurację
                    </a>
                    <a class="home__square">
                    Znajdź restaurację
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
