header {
    position: relative;
}
.header {
    height: vw(100px);
    max-height: 100px;
    min-height: 85px;
    position: fixed;
    background-color: #ffffff;
    z-index: 10;
    width: 100%;    
    border-bottom: $color-border 1px solid;
}
main {
    padding-top: 85px;
}

.header__container {
    height: 100%;
}
.header__info {
    & a {
        color: $color-primary;
        font-family: $font-primary;

    }

}
.header__row {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header__logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: vw(203px);
    max-width: 203px;
    min-width: 150px;
    & img {
        width: 100%;
    }

}
.header__registerIcon{
    width: 25px;
}
.header__logoutIcon { 
    width: 35px;
}
@media (min-width: 1400px) {
    main {
        padding-top: vw(100px);
    } 
}
@media (min-width: $papabear-up) {
    main {
        padding-top: 100px;
    } 
}
