<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <p>ZA KAZDYm RAZEM 2222222</p>
        {% block body %}{% endblock %}
        <p>adadsda 2222222</p>
        {% block javascripts %}{% endblock %}
    </body>
</html>
