<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
<<<<<<< HEAD
        {% block stylesheets %} 
            <link rel="stylesheet" type="text/css" href="css/header.css">
        {% endblock %}
=======
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
>>>>>>> 9ac979190e39fed7c7b0387ba927690142823d5d
    </head>
    <body>
    <header>
    <div class="container aaa">
    
    </div>
    </header>
    <main>
    </main>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    <footer>
    </footer>
    </body>
</html>
