{% extends 'template.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
 <link rel="stylesheet" type="text/css" href="{{ asset('css/form.css') }}" />
{# <style>{% include 'register/css/index.css' %}</style> #}
{% endblock %}
{% block body %}
<div class="top_form"><h1>Rejestracja</h1></div>
<div id="panel">
<form action="create" name="uzytkownicy" method="POST">
    <label for="username">Nazwa użytkownika:</label>
    <input type="text" id="username" name="username" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$" required>
    <label class="passwd" for="password">Hasło: <span class="passwdInf" style="font-size:14px;">&#9432</span><span class="regextext"> Number<br> Upper case<br> Lower case <br> Min. 8 chars<br> Special character</span></label> 
    <input type="password" id="password" name="password" pattern="(?=^.{8,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
    <label for="town">Miasto:</label>
    <input type="text" id="town" name="town" pattern="[A-Za-z0-9 -ęóąśłżźćń]{1,30}" required>
    <div class="error_form">{% if error is defined %}{{ error }} {% endif %}</div>
    <div id="lower">
    <input type="checkbox"><label class="check" for="checkbox">Zapamiętaj mnie!</label>
    <input type="submit" value="Confirm">
    </form>
    </div>
</div>
{% endblock %}


