{% extends 'template.html.twig' %}
{% block title %}Rate{% endblock %}
{% block stylesheets %} 
 <link rel="stylesheet" type="text/css" href="{{ asset('templates/add.css') }}" />

{% endblock %}

{% block body %}

<section class="add">
    <div class="add__baner banner__div row">
        <div class="add__h2 banner__text"><h2>Dodaj restaurację</h2></div>
    </div>
        <div class="container add__form form">
            <div class="form__panel">
                <form action="create" name="restaurant" method="POST" enctype="multipart/form-data">
                    <label class="form__field" for="username">Nazwa restauracji</label>
                    <input type="text" id="username" name="username" required>
                   
                    <label class="form__field" for="town">Miasto:</label>
                    <input type="text" id="town" name="town" pattern="[A-Za-z0-9 -ęóąśłżźćń]{1,30}" required>

                    <label class=" form__fileadd" for="file">
                    </label>
                    <input class="form__field add--field form-control-file" type="file" id="file" name="file">

                    <div class="error_form">{% if error is defined %}{{ error }} {% endif %}</div>


                    <div class="form__submit">
                        <input class="form__button btn" type="submit" value="Wyślij">
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}